#contenedorDetalleEvento{
    background-color: transparent;
    margin-top: 100px;
    #accionAtras{
        margin-left: 20px;
        width: 50px;
        float: left;
        height: 55px;
        button{
            height: 100%;
            width: 100%;
            background-color: transparent;
            border: none;
            color: $azulPrincipal;
            cursor: pointer;
            i{
                font-size: 20px;
            }
        }
    }
    #tituloRefrescar{
        width: calc(100% - 70px);
        float: right;
        & p{
            text-align: right;
            margin-right: 10px;
            & a:first-child{
                cursor: pointer;
            }
            & a:last-child{
                cursor: default;
            }
        }
    }
    #cuerpoDetalleEvento{
        #encabezadoEvento{
            height: 100%;
            width: 100%;
            position: relative;
            #imgBorder{
                height: fit-content;
                width: fit-content;
                background-color: white;
                float: left;
                left: 30px;
                margin: 0;
                position: absolute;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                .cover{
                    max-height: 140px;
                    height: auto;
                    width: 140px;
                    margin: 5px;
                }
            }
            #infoPersonalEvento{
                background-color: $azulPrincipal;
                height: 150px;
                z-index: -1;
                width: 100vw;
                margin-top: 115px;
                #data{
                    color: white;
                    height: 160px;
                    margin-left: 230px;
                    #main{
                        width: 70%;
                        float: left;
                        position: relative;
                        top: 10px;
                        & > p:first-child{
                            font-size: 13px;
                        }
                        p{
                            text-transform: uppercase;
                            letter-spacing: 5px !important;
                            margin: 15px 0;
                            font-size: 11px;
                        }
                        a{
                            color: white !important;
                            text-transform: lowercase;
                        }
                    }
                }
                .evSinFoto{
                    margin-left: 50px !important;
                }
                .masInfo{
                    border: none;
                    width: 100px;
                    height: 40px;
                    background-color: $azulPrincipal;
                    border: 1px solid white;
                    color: white;
                    font-size: 10px;
                    float: right;
                    position: relative;
                    right: 10px;
                    top: -65px;
                    text-transform: uppercase;
                    letter-spacing: 2px !important;
                    &:hover{
                        background-color: $azulFuerte;
                    }
                }
            }
        }
        #contenedorDerEvento{
            margin-top: 50px;
            height: 100%;
            width: 100%;
            #infoDeportesEvento{
                table{
                    border-spacing: 0;
                    margin: 0 auto;
                    td{
                        padding: 0;
                    }
                    .cardSkeleton{
                        border-width: 0px !important;
                    }
                    .cardDeporte{
                        background-color: white;
                        height: 50px;
                        width: 200px;
                        margin: 10px; 
                        position: relative;
                        border: 2px solid $azulRegular;
                        span{
                            span{
                                height: 100%;
                                border-radius: 0;
                                line-height: normal;
                            }
                        }
                        #info{
                            #nombre{
                                @extend .textoMediano;
                                position: absolute;
                                top: 50%;
                                right: 0;
                                left: 0;
                                height: fit-content;
                                -ms-transform: translateY(-50%);
                                transform: translateY(-50%);
                                margin: auto 0;
                                text-align: center;
                                cursor: pointer;
                            }
                        }
                        &:hover{
                            transform: scale(1.01);
                        }
                    }
                }
                .mensajeSinRegistros{
                    margin: 0;
                    line-height: calc(100vh - 450px);
                }
                .botonAgregarCompeticion{
                    background-color: $azulRegular !important;
                    opacity: 1;
                    position: fixed !important;
                    bottom: 50px;
                    right: 50px;
                    @extend .animacionScrollHeader;
                    @extend .textoRegular;
                    color: white;
                    border-radius: 30px;
                    height: 57px;
                    text-transform: capitalize;
                    svg{
                        margin-right: 10px;
                        display: inline-block; 
                        color: white; 
                        fill: currentcolor; 
                        height: 25px; 
                        width: 25px; 
                        user-select: none; 
                        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
                    }
                    &:hover{
                        opacity: 0.65;
                    }
                }
            }
        }
    }   
}

#modalFormCompeticion{
    position:absolute;
    z-index: -1000;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    max-width: 900px;
    top:0;
    left:0;
    background-color: white;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    border-right: 0 solid $azulFuerte;
    .botonCerrarForm{
        position: fixed;
        top: 0px;
        right: 0px;
    }
}

@media only screen and (max-width: 830px){
    #modalFormCompeticion{
        margin-top: -100px;
        border-right-width: 0px;
    }
    #contenedorDetalleEvento{
        #cuerpoDetalleEvento{
            #encabezadoEvento{
                #imgBorder{
                    left: 20px;
                    .cover{
                        max-height: 70px;
                        width: 70px;
                    }
                }
                #infoPersonalEvento{
                    margin-top: 120px;
                    height: 140px;
                    #data{
                        margin-left: 120px;
                        #main{
                            width: 100%;
                            top: 20px;
                            & > p:first-child{
                                font-size: 12px;
                            }
                            p{
                                margin: 10px 0;
                                font-size: 10px;
                            }
                        }
                    }
                    .masInfo{
                        top: -69px;
                        width: 90px;
                        right: 0px;
                    }
                }
            }
            #contenedorDerEvento{
                margin-top: 10px !important;
                #infoDeportesEvento{
                    table{
                        .cardDeporte{
                            width: 90vw !important;
                        }
                    }
                    .mensajeSinRegistros{
                        margin-top: 50px;
                        line-height: 30px;
                    }
                    .botonAgregarCompeticion{
                        bottom: 80px;
                        right: 20px;
                    }
                }
            }
        }
    }
    .eventoMasDetalle{
        & > div:first-child > div:first-child{
            width: 100% !important;
            max-width: 100% !important;
            transform: translate(0px, -15px) !important;
        }
        & > div:first-child > div:first-child > div:first-child > div:first-child{
            height: 100vh !important;
            max-height: 100vh !important;
            overflow: auto !important;
        }
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    #contenedorDetalleEvento{
        #cuerpoDetalleEvento{
            #encabezadoEvento{
                #infoPersonalEvento{
                    margin-top: 170px;
                }
            }
        }
    }
}