form{
    & > div:last-child{
        box-shadow: none !important;
    }
}
.botonFormulario{
    //font-size: 16px !important;
    font-size: 16px;
    font-family: $fontMedium !important;
    span{
        letter-spacing: 2px !important;
    }
    &:hover, &:active{
        span{
            color: white !important;
        }
    }
}
.botonAceptar{
    @extend .botonFormulario;
    border: 1px solid $azulRegular !important;
    span{
        color: $azulRegular !important;
    }
    &:hover, &:active{
        background-color: $azulFuerte !important;
    }
    i{
        opacity: 0;
        margin: 9px 0 0 0 !important;
        color: $rojoPrincipal;
        position: absolute;
        right: 9px;
    }
}
.botonCancelar{
    @extend .botonFormulario;
    border: 1px solid $rojoPrincipal !important;
    span{
        color: $rojoPrincipal !important;
    }
    &:hover, &:active{
        background-color: $rojoPrincipal !important;
    }
}
.botonDeshabilitado{
    opacity: 0.2 !important;
    pointer-events: none !important;
    i{
        opacity: 1 !important;
    }
}