
$rojoPrincipal: #C91D32;

$azulPrincipal: #13293B;
$azulFuerte: #0A304E;
$azulRegular:  #00478A;
$azulLiviano: #336CA1;
$azulMuyLiviano: #F3F6F9;

$grisNormal: #666;

$verdeExito: #379137;

$dorado: #DBBA67;